{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>PERMOHONAN SUMBER DAYA</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">FORM CREATE PSD</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'trigger2:create_permohonan' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        
        <div class="pb-1">Petugas Faskes</div>
        <div class="form-group">
          <input type="text" name="petugas" value="{{request.POST.petugas}}" class="form-width form-control" placeholder="Petugas Faskes" required>
        </div>
        
        <div class="pb-1">Kode Item</div>
        <select id="kode_item" name="kode_item" required>
            <option value="">Choose a code</option>
            {% for kode_item in code %}
                <option value="{{kode_item}}">{{kode_item}}</option>
            {% endfor %}
        </select>  

        <div class="pb-1">Berat Item</div>
        <div class="form-group">
          <input type="text" name="berat" value="{{request.POST.berat}}" class="form-width form-control" placeholder="Berat Item" required>
        </div>

        <div class="pb-1">Jumlah Item</div>
        <div class="form-group">
          <input type="text" name="jumlah" value="{{request.POST.jumlah}}" class="form-width form-control" placeholder="Jumlah Item" required>
        </div>

        <div class="pb-1">Catatan</div>
        <div class="form-group">
          <input type="text" name="catatan" value="{{request.POST.catatan}}" class="form-width form-control" placeholder="Catatan">
        </div>

        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href='{% url "trigger4:kendaraan" %}'>
              <div class="btn btn-danger">Cancel</div>
            </a>
        </div>
    </form>

    
</div>

{% endblock %}