{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>ITEM SUMBER DAYA</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">FORM TAMBAH ITEM</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'trigger2:create_item' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="pb-1">Kode</div>
        <div class="form-group">
          <input type="text" name="kode" value="{{request.POST.kode}}" class="form-width form-control" placeholder="Kode" required>
        </div>
        <div class="pb-1">Username Supplier</div>
        <div class="form-group">
          <input type="text" name="user_supplier" value="{{request.POST.user_supplier}}" class="form-width form-control" placeholder="Supplier" required>
        </div>
        <div class="pb-1">Nama</div>
        <div class="form-group">
          <input type="text" name="nama" value="{{request.POST.nama}}" class="form-width form-control" placeholder="Nama" required>
        </div>
        <div class="pb-1">Harga</div>
        <div class="form-group">
          <input type="text" name="harga" value="{{request.POST.harga}}" class="form-width form-control" placeholder="Harga Satuan" required>
        </div>
        <div class="pb-1">Berat Maksimum</div>
        <div class="form-group">
          <input type="text" name="berat" value="{{request.POST.berat}}" class="form-width form-control" placeholder="Berat Satuan" required>
        </div>
        <div class="pb-1">Kode Tipe Item</div>
        <select id="kode_item" name="kode_item" required>
            <option value="">Choose a code</option>
            {% for kode_item in code %}
                <option value="{{kode_item}}">{{kode_item}}</option>
            {% endfor %}
        </select>  
        {% comment %} <div class="form-group">
          <input type="text" name="kode_item" value="{{request.POST.kode_item}}" class="form-width form-control" placeholder="Kode Tipe Item" required>
        </div> {% endcomment %}

        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href='{% url "trigger4:kendaraan" %}'>
              <div class="btn btn-danger">Cancel</div>
            </a>
        </div>
    </form>

    
</div>

{% endblock %}