{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>SUMBER DAYA FASKES</title>
{% endblock meta %}
{% block content %}
<div class="jumbotron bg-white text-dark rounded-0 m-0">
    <div class="container">
        <ul class="navbar-nav" style="margin: auto;">
            <li class="nav-item">
                <div class="card w-75 border-dark m-3">
                    <h3 class="card-header bg-main1 text-center text-left-lg bg-dark">
                        {% if request.session.pengguna and role == "petugas_faskes"%}
                            <a class="book-link text-light" href="{% url 'trigger2:permohonan_sumber_daya' %}">
                                Permohonan Sumber Daya
                            </a>
                        {% elif request.session.pengguna and role == "admin_satgas"%}
                            <a class="book-link text-light" href="{% url 'trigger2:permohonan_sumber_daya' %}">
                                Permohonan Sumber Daya
                            </a>
                        {% else %}
                            <a class="book-link text-light" href="{% url 'trigger2:index' %}">
                                Permohonan Sumber Daya
                            </a>
                        {% endif %}
                    </h3>
                    <div class="card-body bg-main2" style="background-color: rgba(0, 0, 0, 0);">
                        <div class="row">
                            <div class="col-lg-9 col-12 book-info">
                                <h5 class="card-title">Pengaturan Permohonan Sumber Daya Faskes</h5>
                                <p class="card-text text-justify">CRUD untuk pengguna petugas_faskes serta r untuk pengguna admin_satgas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="card w-75 border-dark m-3">

                     <h3 class="card-header bg-main1 text-center text-left-lg bg-dark">
                        {% if request.session.pengguna and role == "admin_satgas"%}
                            <a class="book-link text-light" href="{% url 'trigger2:riwayat_permohonan_sumber_daya' %}">
                                Riwayat Status Permohonan Sumber Daya
                            </a>
                        {% elif request.session.pengguna and role == "petugas_faskes"%}
                            <a class="book-link text-light" href="{% url 'trigger2:riwayat_permohonan_sumber_daya' %}">
                                Riwayat Status Permohonan Sumber Daya
                            </a>
                        {% else %}
                            <a class="book-link text-light" href="{% url 'trigger2:index' %}">
                                Riwayat Status Permohonan Sumber Daya
                            </a>
                        {% endif %}
                    </h3>
                    <div class="card-body bg-main2" style="background-color: rgba(0, 0, 0, 0);">
                        <div class="row">
                            <div class="col-lg-9 col-12 book-info">
                                <h5 class="card-title">Pengaturan Riwayat Status Permohonan Sumber Daya Faskes</h5>
                                <p class="card-text text-justify">CR untuk pengguna admin_satgas serta r untuk pengguna petugas_faskes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="card w-75 border-dark m-3">
                   <h3 class="card-header bg-main1 text-center text-left-lg bg-dark">
                        {% if request.session.pengguna and role == "supplier"%}
                            <a class="book-link text-light" href="{% url 'trigger2:item_sumber_daya' %}">
                                Item Sumber Daya
                            </a>
                        {% elif request.session.pengguna and role == "admin_satgas"%}
                            <a class="book-link text-light" href="{% url 'trigger2:item_sumber_daya' %}">
                                Item Sumber Daya
                            </a>
                        {% else %}
                            <a class="book-link text-light" href="{% url 'trigger2:index' %}">
                                Item Sumber Daya
                            </a>
                        {% endif %}
                    </h3>
                    <div class="card-body bg-main2" style="background-color: rgba(0, 0, 0, 0);">
                        <div class="row">
                            <div class="col-lg-9 col-12 book-info">
                                <h5 class="card-title">Pengaturan Item Sumber Daya Faskes</h5>
                                <p class="card-text text-justify">CRUD untuk pengguna supplier serta r untuk pengguna admin_satgas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}