{% extends "home/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron rounded-0 bg-4">
    <h1 class="display-4">Item Sumber Daya</h1>
    <p class="lead">Melihat Item Sumber Daya</p>
    <hr class="my-4">
    {% if request.session.pengguna %}
      <p class="lead">Selamat datang {{request.session.pengguna}}</p>
      <br>
    {% else %}
      <p class="lead">Selamat datang bung (kami tidak kenal kau)</p>
      <br>
    {% endif %}
    <br>
    
    {% if request.session.pengguna and request.session.role == "supplier"%}
        <a href="{% url 'trigger2:create_item' %}"><u>Tambahkan Item</u></a>
        <br>
        <a href="{% url 'trigger2:update_item' %}"><u>Update Item</u></a>
        <br>
        <a href="{% url 'trigger2:delete_item' %}"><u>Delete Item</u></a>
    {% elif request.session.pengguna and request.session.role == "admin_satgas"%}
    {% else %}
    {% endif %}
    
    <section>
      <h3 class="display-4" style="font-size: 30px;">Daftar Item Sumber Daya</h3>
      <br>
      <input type="text" id="myInput" placeholder="Search for names.." title="Type in a name">
      
      <div class="Daftar-Item-Table">
        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    <th>No</th>
                    <th>Kode</th>
                    <th>Supplier</th>
                    <th>Nama</th>
                    <th>Harga Satuan</th>
                    <th>Berat Satuan</th>
                    <th>Kode Tipe Item</th>
                    {% if request.session.pengguna and request.session.role == "supplier"%}
                        <th>Update/Delete</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody class="item-table">
                  {% block table %}
                  {% endblock %}
                    {% for kode, supply, nama, harga, berat, kti in items %}
                    <tr class="table-light">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ kode }}</td>
                        <td>{{ supply }}</td>
                        <td>{{ nama }}</td>
                        <td>{{ harga }}</td>
                        <td>{{ berat }}</td>
                        <td>{{ kti }}</td>
                        {% if request.session.pengguna and request.session.role == "supplier"%}
                        <td>
                            <a href="{% url 'trigger2:update_item' %}"><u>Update</u></a>
                            <a href="{% url 'trigger2:delete_item' %}"><u>Delete</u></a>
                        </td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div> 
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#daftar-item-table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).attr("id") == "table-header")
      });
    });
  });
  </script>
{% endblock %}