{% extends "home/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron rounded-0 bg-4">
    <h1 class="display-4">Permohonan Sumber Daya Faskes</h1>
    <p class="lead">Melihat Daftar Permohonan</p>
    <hr class="my-4">
    {% if request.session.pengguna %}
      <p class="lead">Selamat datang {{request.session.pengguna}}</p>
      <br>
    {% else %}
      <p class="lead">Selamat datang bung (kami tidak kenal kau)</p>
      <br>
    {% endif %}
    <br>
    
    {% if request.session.pengguna and request.session.role == "petugas_faskes"%}
        <a href="{% url 'trigger2:create_permohonan' %}"><u>Tambahkan Permohonan</u></a>
        <br>
        <a href="{% url 'trigger2:update_permohonan' %}"><u>Update Permohonan</u></a>
        <br>
        <a href="{% url 'trigger2:delete_permohonan' %}"><u>Delete Permohonan</u></a>
    {% elif request.session.pengguna and request.session.role == "admin_satgas"%}
    {% else %}
    {% endif %}
    
    <section>
      <h3 class="display-4" style="font-size: 30px;">Daftar Permohonan Sumber Daya</h3>
      <br>
      <input type="text" id="myInput" placeholder="Search for names.." title="Type in a name">
      
      <div class="Daftar-Item-Table">
        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    <th>No</th>
                    <th>Nomor Transaksi</th>
                    <th>Petugas Faskes</th>
                    <th>Catatan</th>
                    <th>Tanggal</th>
                    <th>Total Item</th>
                    <th>Total Berat</th>
                    
                    {% if request.session.pengguna and request.session.role == "petugas_faskes"%}
                        <th>Update/Delete</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody class="item-table">
                  {% block table %}
                  {% endblock %}
                    {% for no , username , catatan, tgl, ti, tb in psd %}
                    <tr class="table-light">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ no }}</td>
                        <td>{{ username }}</td>
                        <td>{{ catatan }}</td>
                        <td>{{ tgl }}</td>
                        <td>{{ ti }}</td>
                        <td>{{ tb }}</td>
                        {% if request.session.pengguna and request.session.role == "petugas_faskes"%}
                        <td>
                            <a href="{% url 'trigger2:update_permohonan' %}"><u>Update</u></a>
                            <a href="{% url 'trigger2:delete_permohonan' %}"><u>Delete</u></a>
                        </td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div> 
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#daftar-item-table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).attr("id") == "table-header")
      });
    });
  });
  </script>
{% endblock %}