{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>RIWAYAT STATUS SUMBER DAYA</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">FORM ACCEPT REQ</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'trigger2:proses_riwayat' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="pb-1">Nomor Riwayat</div>
        <div class="form-group">
          <input type="text" name="kode" value="{{request.POST.kode}}" class="form-width form-control" placeholder="Nomor Riwayat" required>
        </div>

        <div class="pb-1">Pilihan</div>
        <select id="acc" name="acc" required>
            <option value="">Choose a code</option>
            <option value="PRO">Accept</option>
            <option value="REJ">Reject</option>
        </select>  

        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href='{% url "trigger2:riwayat_permohonan_sumber_daya" %}'>
              <div class="btn btn-danger">Cancel</div>
            </a>
        </div>
    </form>

    
</div>

{% endblock %}