{% extends "home/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron rounded-0 bg-4">
    <h1 class="display-4">Riwayat Status Permohonan</h1>
    <p class="lead">Melihat Daftar Riwayat Status Permohonan</p>
    <hr class="my-4">
    {% if request.session.pengguna %}
      <p class="lead">Selamat datang {{request.session.pengguna}}</p>
      <br>
    {% else %}
      <p class="lead">Selamat datang bung (kami tidak kenal kau)</p>
      <br>
    {% endif %}
    <br>
    
    {% if request.session.pengguna and request.session.role == "admin_satgas"%}
        <a href="{% url 'trigger2:create_riwayat' %}"><u>Buat Riwayat</u></a>
        <br>
        <a href="{% url 'trigger2:proses_riwayat' %}"><u>Proses Riwayat</u></a>
        <br>
        <a href="{% url 'trigger2:proses_riwayat_final' %}"><u>Proses Riwayat PRO</u></a>
    {% elif request.session.pengguna and request.session.role == "petugas_faskes"%}
    {% else %}
    {% endif %}
    
    <section>
      <h3 class="display-4" style="font-size: 30px;">Daftar Riwayat Status Permohonan Sumber Daya</h3>
      <br>
      <input type="text" id="myInput" placeholder="Search for names.." title="Type in a name">
      
      <div class="Daftar-Item-Table">
        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    <th>No</th>
                    <th>Nomor Antrian</th>
                    <th>Kode Status</th>
                    <th>Status</th>
                    <th>Admin</th>
                    <th>Tanggal</th>
                    
                    {% if request.session.pengguna and request.session.role == "admin_satgas"%}
                        <th>Proses</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody class="item-table">
                  {% block table %}
                  {% endblock %}
                    {% for no , kode , admin, tgl,status in riwayats %}
                    <tr class="table-light">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ no }}</td>
                        <td>{{ kode }}</td>
                        <td>{{ status }}</td>
                        <td>{{ admin }}</td>
                        <td>{{ tgl }}</td>
                        {% if request.session.pengguna and request.session.role == "admin_satgas" and kode == "REQ" %}
                        <td>
                            <a href="{% url 'trigger2:proses_riwayat' %}"><u>Proses</u></a>
                        </td>
                        {% elif request.session.pengguna and request.session.role == "admin_satgas" and kode == "PRO" %}
                        <td>
                            <a href="{% url 'trigger2:proses_riwayat_final' %}"><u>Proses</u></a>
                        </td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div> 
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#daftar-item-table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).attr("id") == "table-header")
      });
    });
  });
  </script>
{% endblock %}