{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	{% block meta %}
    {% endblock meta %}
  </head>
  <body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<div class="container-fluid">
		  <a class="navbar-brand" href="/">SIDIA</a>
		  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav ml-auto">
			  <a class="nav-link" href="{% url 'trigger2:index' %}">SDA</a>
			  <a class="nav-link" href="{% url 'trigger3:index' %}">Stock dan Pesanan</a>
			  <a class="nav-link" href="{% url 'trigger4:index' %}">Pengiriman</a>
			  <a class="nav-link" href="{% url 'trigger5:index' %}">Fasilitas dan Lokasi</a>

				{% if not request.session.pengguna %}
				<a href="{% url 'login_feature:login' %}" class="nav-link button-login mx-2">LOGIN</a>
				<a href="{% url 'login_feature:register' %}" class="nav-link button-signup">REGISTER</a> 
				<!-- Case sudah login -->
				{% else %}
				<a href="{% url 'login_feature:logout' %}" class="nav-link button-login mx-2">LOGOUT</a>
				{% endif %}

				{% comment %} <div class="navbar-nav">
				<a href="{% url 'login_feature:login' %}" class="nav-link button-login mx-2">LOGIN</a>
				<a href="#" class="nav-link button-signup">REGISTER</a> 
				</div> {% endcomment %}

			</div>
		  </div>
		</div>
	  </nav>

    {% block content %}
    {% endblock %}
	
    <footer class="footer fixed-bottom bg-dark text-light text-center py-3">
        &#169 C1 - Basdat
    </footer>
	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	{% block script %}
    {% endblock %}
</body>
</html>
