{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>SIDIA</title>
{% endblock meta %}
{% block content %}
<div class="jumbotron bg-white text-dark rounded-0 m-0">
    <div class="container-fluid">
		<div class="row">
			<div class="col-lg-6 hero-left">
				<h1 class="display-4 hero">SIDIA 2021 <br>COVID Project</h1>
				<p class="lead hero">Basis Data 2020/2021 Genap</p>
			</div>
			<div class="col-lg-6">
				<img src="../../static/home/undraw_doctors_hwty.svg" width="100%" alt="">
			</div>
		</div>
    </div>
</div>
{% endblock %}
