{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>PESANAN SUMBER DAYA</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">FORM CREATE STOK FASKES</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'trigger3:create_sfk' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="pb-1">Kode Faskes</div>
        <div class="form-group">
          <select id="kode_faskes" name="kode_faskes">
            <option value="">Pilih Kode Faskes</option>
            {% for kode in kodes %}
                <option value="{{kode}}">{{kode}}</option>
            {% endfor %}
          </select>
        </div>

		<div class="pb-1">Kode Item</div>
        <div class="form-group">
          <select id="item_codes" name="kode_item">
            <option value="">Pilih Kode Item</option>
            {% for code in item_codes %}
                <option value="{{code}}">{{code}}</option>
            {% endfor %}
          </select>
        </div>

		<div class="pb-1">Jumlah</div>
        <div class="form-group">
          <input type="number" name="jumlah" class="form-width form-control" required>
        </div>
        
        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Tambah</button>
        </div>
    </form>

    
</div>

{% endblock %}