{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>PESANAN SUMBER DAYA</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">DETAIL PESANAN</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

        {% csrf_token %}
        <div class="pb-1">No. Pesanan</div>
        <input class="form-control" type="text" value="{{no_pesanan}}" disabled readonly>

		<div class="pb-1">Petugas Satgas</div>
        <input class="form-control" type="text" value="{{username_admin_satgas}}" disabled readonly>

        <div class="pb-1">Tanggal</div>
        <input class="form-control" type="text" value="{{tanggal}}" disabled readonly>

		<div class="pb-1">Total Berat</div>
        <input class="form-control" type="text" value="{{total_berat}}" disabled readonly>

		<div class="pb-1">Total Item</div>
        <input class="form-control" type="text" value="{{total_item}}" disabled readonly>

		<div class="pb-1">Total Harga</div>
        <input class="form-control" type="text" value="{{total_harga}}" disabled readonly>

		<div class="pb-1">Kode Status Pesanan</div>
        <input class="form-control" type="text" value="{{kode_status_pesanan}}" disabled readonly>

		{{details}}

		<div class="Daftar-Item-Table">
			<table class="table table-hover table-bordered" id="daftar-item-table">
					<thead>
					  <tr class="table-light" id="table-header">
						<th>No</th>
						<th>Item</th>
						<th>Harga Satuan</th>
						<th>Jumlah Item</th>
					  </tr>
					</thead>
					<tbody class="item-table">
					  {% block table %}
					  {% endblock %}
						{% for nama, harga_satuan, jumlah_item in details %}
						<tr class="table-light">
							<td>{{ forloop.counter }}</td>
							<td>{{ nama}}</td>
							<td>{{ harga_satuan }}</td>
							<td>{{ jumlah_item }}</td>
						</tr>
						{% endfor %}
					  </tbody>
				</table>
			  </div> 

    
</div>

{% endblock %}