{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>STOK DAN PESANAN</title>
{% endblock meta %}
{% block content %}
<div class="jumbotron bg-white text-dark rounded-0 m-0">
    <div class="container">
        <ul class="navbar-nav" style="margin: auto;">
            <li class="nav-item">
                <div class="card w-75 border-dark m-3">
                    <h3 class="card-header bg-main1 text-center text-left-lg bg-dark">
                        {% if request.session.pengguna and role == "admin_satgas" %}
                            <a class="book-link text-light" href="{% url 'trigger3:read_psd_adminsatgas' %}">
                                Pesanan Sumber Daya
                            </a>
                        {% elif request.session.pengguna and role == "supplier" %}
                            <a class="book-link text-light" href="{% url 'trigger3:read_psd_supplier' %}">
                                Pesanan Sumber Daya
                            </a>
                        {% else %}
                            <a class="book-link text-light" href="{% url 'trigger3:read_psd' %}">
                                Pesanan Sumber Daya
                            </a>
                        {% endif %}
                    </h3>
                    <div class="card-body bg-main2" style="background-color: rgba(0, 0, 0, 0);">
                        <div class="row">
                            <div class="col-lg-9 col-12 book-info">
                                <h5 class="card-title">Pengaturan Pesanan Sumber Daya Faskes</h5>
                                <p class="card-text text-justify">CRUD untuk pengguna admin_satgas serta r untuk pengguna supplier</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="card w-75 border-dark m-3">

                     <h3 class="card-header bg-main1 text-center text-left-lg bg-dark">
                        {% if request.session.pengguna and role == "supplier"%}
                            <a class="book-link text-light" href="{% url 'trigger3:rspsd' %}">
                                Riwayat Status Pesanan Sumber Daya
                            </a>
                        {% elif request.session.pengguna and role == "admin_satgas"%}
                            <a class="book-link text-light" href="{% url 'trigger3:rspsd' %}">
                                Riwayat Status Pesanan Sumber Daya
                            </a>
                        {% else %}
                            <a class="book-link text-light" href="{% url 'trigger3:index' %}">
                                Riwayat Status Pesanan Sumber Daya
                            </a>
                        {% endif %}
                    </h3>
                    <div class="card-body bg-main2" style="background-color: rgba(0, 0, 0, 0);">
                        <div class="row">
                            <div class="col-lg-9 col-12 book-info">
                                <h5 class="card-title">Pengaturan Riwayat Status Pesanan Sumber Daya Faskes</h5>
                                <p class="card-text text-justify">CR untuk pengguna supplier serta r untuk pengguna admin_satgas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="card w-75 border-dark m-3">
                   <h3 class="card-header bg-main1 text-center text-left-lg bg-dark">
                        {% if request.session.pengguna and role == "admin_satgas" %}
                            <a class="book-link text-light" href="{% url 'trigger3:sfk_adminsatgas' %}">
                                Stok Faskes
                            </a>
                        {% elif request.session.pengguna and role == "petugas_faskes" %}
                            <a class="book-link text-light" href="{% url 'trigger3:sfk_petugas' %}">
                                Stok Faskes
                            </a>
                        {% else %}
                            <a class="book-link text-light" href="{% url 'trigger3:index' %}">
                                Stok Faskes
                            </a>
                        {% endif %}
                    </h3>
                    <div class="card-body bg-main2" style="background-color: rgba(0, 0, 0, 0);">
                        <div class="row">
                            <div class="col-lg-9 col-12 book-info">
                                <h5 class="card-title">Pengaturan Stok Faskes</h5>
                                <p class="card-text text-justify">CRUD untuk pengguna admin_satgas serta r untuk pengguna petugas_faskes</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}