{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>PESANAN SUMBER DAYA</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">FORM CREATE PESANAN SUMBER DAYA</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'trigger3:create_psd' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="pb-1">Supplier</div>
        <div class="form-group">
          <select id="supplier" name="supplier">
            <option value="">Choose a Supplier</option>
            {% for supplier in suppliers %}
                <option value="{{supplier}}">{{supplier}}</option>
            {% endfor %}
          </select>
        </div>
        
        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Selanjutnya</button>
        </div>
    </form>

    
</div>

{% endblock %}