{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>PESANAN SUMBER DAYA</title>
{% endblock meta %}
{% block content %}

<div class="jumbotron rounded-0 bg-4">
    <h1 class="display-4">Pesanan Sumber Daya</h1>
    <p class="lead">Melihat Pesanan Sumber Daya</p>
    <hr class="my-4">
    {% if request.session.pengguna %}
      <p class="lead">Selamat datang {{request.session.pengguna}}</p>
      <br>
    {% else %}
      <p class="lead">Selamat datang bung (kami tidak kenal kau)</p>
      <br>
    {% endif %}
    <br>

	{% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}

    {% endif %}
	{% if request.session.pengguna and request.session.role == "admin_satgas" %}
	<button class="btn btn-light my-1"><a href="{% url 'trigger3:psd' %}">Create Pesanan Sumber Daya</a></button>
	{% endif %}
    
    <section>
      <h3 class="display-4" style="font-size: 30px;">Pesanan Sumber Daya</h3>
      <br>
      
      <div class="Daftar-Item-Table">
        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    <th>No</th>
                    <th>No. Pesanan</th>
                    <th>Petugas Satgas</th>
					<th>Tanggal</th>
					<th>Total Berat</th>
					<th>Total Item</th>
                    <th>Total Harga</th>
					<th>Status</th>
					<th>Action</th>
                  </tr>
                </thead>
                <tbody class="item-table">
                  {% block table %}
                  {% endblock %}
                    {% for no_pesanan, username_admin_satgas, tanggal, total_berat, total_item, total_harga, kode_status_pesanan, username_supplier in psd %}
                    <tr class="table-light">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ no_pesanan }}</td>
                        <td>{{ username_admin_satgas}}</td>
						<td>{{ tanggal }}</td>
						<td>{{ total_berat }}</td>
						<td>{{ total_item }}</td>
                        <td>{{ total_harga }}</td>
						<td>{{ kode_status_pesanan }}</td>
						<td>
						{% if request.session.pengguna and request.session.role == "admin_satgas" and kode_status_pesanan == "REQ-SUP" %}
						<form method="POST" action="{% url 'trigger3:tampil_update_psd' no_pesanan %}">
							{% csrf_token %}
							<button class="btn btn-light my-1" type="submit" name="supplier" value="{{ username_supplier }}">Update</button>
						</form>
						<form method="POST" action="{% url 'trigger3:delete_psd' no_pesanan %}">
							{% csrf_token %}
							<button class="btn btn-danger my-1" type="submit" name="no_pesanan" value="{{ no_pesanan }}">Delete</button>
						</form>
						{% elif request.session.pengguna and request.session.role == "supplier" and kode_status_pesanan == "REQ-SUP" %}
						<form method="POST" action="{% url 'trigger3:create_status' no_pesanan %}">
							{% csrf_token %}
							<button class="btn btn-primary my-1" type="submit" name="reject" value="{{ kode_status_pesanan }}">Reject</button>
							<button class="btn btn-primary my-1" type="submit" name="process" value="{{ kode_status_pesanan }}">Process</button>
						</form>
						{% elif request.session.pengguna and request.session.role == "supplier" and kode_status_pesanan == "PRO-SUP" %}
						<form method="POST" action="{% url 'trigger3:create_status' no_pesanan %}">
							{% csrf_token %}
							<button class="btn btn-primary my-1" type="submit" name="selesai-dm" value="{{ kode_status_pesanan }}">Selesai dengan masalah</button>
							<button class="btn btn-primary my-1" type="submit" name="selesai" value="{{ kode_status_pesanan }}">Selesai</button>
						</form>
						{% endif %}
						{% if request.session.pengguna and request.session.role == "admin_satgas" or request.session.role == "supplier" %}
							<button class="btn btn-light my-1"><a href="{% url 'trigger3:detail_psd' no_pesanan %}">Detail</a></button>
							<button class="btn btn-light my-1"><a href="{% url 'trigger3:read_rspsd' no_pesanan %}">Riwayat Status</a></button>
						{% endif %}
						</td>
					</tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div> 
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#daftar-item-table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).attr("id") == "table-header")
      });
    });
  });
  </script>
{% endblock %}