{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>PESANAN SUMBER DAYA</title>
{% endblock meta %}
{% block content %}

<div class="jumbotron rounded-0 bg-4">
    <h1 class="display-4">Stok Faskes</h1>
    <p class="lead">Melihat Stok Faskes</p>
    <hr class="my-4">
    {% if request.session.pengguna %}
      <p class="lead">Selamat datang {{request.session.pengguna}}</p>
      <br>
    {% else %}
      <p class="lead">Selamat datang bung (kami tidak kenal kau)</p>
      <br>
    {% endif %}
    <br>

	{% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

	{% if request.session.pengguna and request.session.role == "admin_satgas" %}
	<button class="btn btn-light my-1"><a href="{% url 'trigger3:sfk' %}">Create Stok Faskes</a></button>
	{% endif %}
    
    <section>
      <h3 class="display-4" style="font-size: 30px;">Stok Faskes</h3>
      <br>
      
      <div class="Daftar-Item-Table">
        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    <th>No</th>
                    <th>Kode Faskes</th>
                    <th>Nama Faskes</th>
					<th>Item Sumber Daya</th>
					<th>Jumlah</th>
					<th>Action</th>
                  </tr>
                </thead>
                <tbody class="item-table">
                  {% block table %}
                  {% endblock %}
                    {% for kode_faskes, nama_tipe, item_sumber_daya, jumlah in sfk %}
                    <tr class="table-light">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ kode_faskes }}</td>
                        <td>{{ nama_tipe }}</td>
						<td>{{ item_sumber_daya }}</td>
						<td>{{ jumlah }}</td>
						<td>
						{% if request.session.pengguna and request.session.role == "admin_satgas" %}
						<form method="POST" action="{% url 'trigger3:tampil_update_sfk' kode_faskes item_sumber_daya %}">
							{% csrf_token %}
							<button class="btn btn-light my-1" type="submit" name="stok_faskes" value="{{ stok_faskes }}">Update</button>
						</form>
						<form method="POST" action="{% url 'trigger3:delete_sfk' kode_faskes item_sumber_daya %}">
							{% csrf_token %}
							<button class="btn btn-danger my-1" type="submit" name="stok_faskes" value="{{ stok_faskes }}">Delete</button>
						</form>
						{% endif %}
						</td>
					</tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div> 
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#daftar-item-table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).attr("id") == "table-header")
      });
    });
  });
  </script>
{% endblock %}