{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>RIWAYAT STATUS PESANAN</title>
{% endblock meta %}
{% block content %}

<div class="jumbotron rounded-0 bg-4">
    <h1 class="display-4">Riwayat Status Pesanan</h1>
    <p class="lead">Melihat Riwayat Status Pesanan Sumber Daya</p>
    <hr class="my-4">
    {% if request.session.pengguna %}
      <p class="lead">Selamat datang {{request.session.pengguna}}</p>
      <br>
    {% else %}
      <p class="lead">Selamat datang bung (kami tidak kenal kau)</p>
      <br>
    {% endif %}
    <br>

	{% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
    
    <section>
      <h3 class="display-4" style="font-size: 30px;">Riwayat Status Pesanan Sumber Daya</h3>
      <br>
      
      <div class="Daftar-Item-Table">
        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    <th>No</th>
                    <th>Kode Status Pesanan</th>
                    <th>Status</th>
                    <th>Username Supplier</th>
                    <th>Tanggal Persetujuan</th>
                  </tr>
                </thead>
                <tbody class="item-table">
                  {% block table %}
                  {% endblock %}
                    {% for kode_status_pesanan, no_pesanan, username_supplier, tanggal in rsp %}
                    <tr class="table-light">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ kode_status_pesanan }}</td>
						{% if kode_status_pesanan == "REQ-SUP" %}
                        <td>Request</td>
						{% elif kode_status_pesanan == "PRO-SUP" %}
						<td>Process</td>
						{% elif kode_status_pesanan == "MAS-SUP" %}
						<td>Selesai dengan masalah</td>
						{% elif kode_status_pesanan == "REJ-SUP" %}
						<td>Reject</td>
						{% elif kode_status_pesanan == "FIN-SUP" %}
						<td>Selesai</td>
						{% endif %}
                        <td>{{ username_supplier }}</td>
                        <td>{{ tanggal }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div> 
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#daftar-item-table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).attr("id") == "table-header")
      });
    });
  });
  </script>
{% endblock %}