{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>RIWAYAT STATUS PESANAN</title>
{% endblock meta %}
{% block content %}

<div class="jumbotron rounded-0 bg-4">
    <h1 class="display-4">Riwayat Status Pesanan</h1>
    <p class="lead">Melihat Riwayat Status Pesanan Sumber Daya</p>
    <hr class="my-4">
    {% if request.session.pengguna %}
      <p class="lead">Selamat datang {{request.session.pengguna}}</p>
      <br>
    {% else %}
      <p class="lead">Selamat datang bung (kami tidak kenal kau)</p>
      <br>
    {% endif %}
    <br>

	{% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}
    
    <section>
      <h3 class="display-4" style="font-size: 30px;">Riwayat Status Pesanan Sumber Daya</h3>
      <br>
      
      <div class="Daftar-Item-Table">
        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    <th>No</th>
					<th>Kode Status Pesanan</th>
                    <th>No. Pesanan</th>
					<th>Username Supplier</th>
					<th>Tanggal Persetujuan</th>
					{% if request.session.pengguna and request.session.role == "supplier" or request.session.role == "admin_satgas" %}
                        <th>Action</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody class="item-table">
                  {% block table %}
                  {% endblock %}
                    {% for kode_status_pesanan, no_pesanan, username_supplier, tanggal in rsp %}
                    <tr class="table-light">
                        <td>{{ forloop.counter }}</td>
						<td>{{ kode_status_pesanan }}</td>
						<td>{{ no_pesanan }}</td>
						<td>{{ username_supplier }}</td>
						<td>{{ tanggal }}</td>
						<td>
                        {% if request.session.pengguna and request.session.role == "supplier" or request.session.role == "admin_satgas" %}
							<button class="btn btn-light my-1" type="submit" name="no_pesanan" value="{{ no_pesanan }}">
								<a href="{% url 'trigger3:read_rspsd' no_pesanan %}">Lihat Riwayat Status Pesanan</a>
							</button><br>
                        {% endif %}

						{% if request.session.pengguna and request.session.role == "supplier" %}
							<form method="POST" action="{% url 'trigger3:create_status' no_pesanan %}">
								{% csrf_token %}
								{% if kode_status_pesanan == "REQ-SUP" %}
								<button class="btn btn-primary my-1" type="submit" name="process" value="{{ kode_status_pesanan }}">Process</button><br>
								<button class="btn btn-primary my-1" type="submit" name="reject" value="{{ kode_status_pesanan }}">Reject</button><br>
								{% endif %}
								{% if kode_status_pesanan == "PRO-SUP" %}
								<button class="btn btn-primary my-1" type="submit" name="selesai-dm" value="{{ kode_status_pesanan }}">Selesai dengan masalah</button><br>
								<button class="btn btn-primary my-1" type="submit" name="selesai" value="{{ kode_status_pesanan }}">Selesai</button><br>
								{% endif %}
							</form>
                        {% endif %}

						</td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div> 
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#daftar-item-table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).attr("id") == "table-header")
      });
    });
  });
  </script>
{% endblock %}