{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>PESANAN SUMBER DAYA</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">FORM UPDATE STOK FASKES</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'trigger3:update_sfk' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="pb-1">Kode Faskes</div>
        <input class="form-control" type="text" value="{{kode_faskes}}" disabled readonly>
		<input class="form-control" type="hidden" name="kode_faskes" value="{{kode_faskes}}">

		<div class="pb-1">Faskes</div>
        <input class="form-control" type="text" value="{{faskes}}" disabled readonly>
		<input class="form-control" type="hidden" name="faskes" value="{{faskes}}">

        <div class="pb-1">Kode Item</div>
        <input class="form-control" type="text" value="{{kode_item}}" disabled readonly>
		<input class="form-control" type="hidden" name="kode_item" value="{{kode_item}}">

		<div class="pb-1">Item Sumber Daya</div>
        <input class="form-control" type="text" value="{{item_sumber_daya}}" disabled readonly>
		<input class="form-control" type="hidden" name="item_sumber_daya" value="{{item_sumber_daya}}">

		<div class="pb-1">Jumlah</div>
        <div class="form-group">
          <input type="number" name="jumlah" class="form-width form-control" required>
        </div>
        
        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>

    
</div>

{% endblock %}