{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>PESANAN SUMBER DAYA</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">FORM UPDATE PESANAN SUMBER DAYA</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'trigger3:update_psd' no_pesanan %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
		<div class="pb-1">Supplier</div>
        <input class="form-control" type="text" value="{{supplier}}" disabled readonly>
		<input class="form-control" type="hidden" name="supplier" value="{{supplier}}">

        <div class="pb-1">No. Urut</div>
        <input class="form-control" type="text" value="{{no_urut}}" disabled readonly>
		<input class="form-control" type="hidden" name="no_urut" value="{{no_urut}}">

		<div class="pb-1">Kode Item</div>
        <div class="form-group">
			<select id="kode_item" name="kode_item">
			  <option value="">Choose Item Code</option>
			  {% for kode in kodes %}
				  <option value="{{kode}}">{{kode}}</option>
			  {% endfor %}
			</select>
		</div>

		<div class="pb-1">Jumlah Item</div>
        <div class="form-group">
          <input type="number" name="jumlah_item" class="form-width form-control" required>
        </div>
        
        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>

    {% for item in items %}
	{{ item }}
	{% endfor %}
</div>

{% endblock %}