{% extends "home/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron rounded-0 bg-4">
    <h1 class="display-4">Batch Pengiriman</h1>
    <p class="lead">Melihat Batch</p>
    <hr class="my-4">
    {% if request.session.pengguna %}
      <p class="lead">Selamat datang {{request.session.pengguna}}</p>
      <br>
    {% else %}
      <p class="lead">Selamat datang bung (kami tidak kenal kau)</p>
      <br>
    {% endif %}
    <br>
    
    <section>
      <h3 class="display-4" style="font-size: 30px;">Batch Pengiriman</h3>
      <td><a href="{% url 'trigger4:create_batch' %}">Buat Badge</a></td>
      <br>
      <td><a href="{% url 'trigger4:detail_batch' %}">Detail Badge</a></td>
      {% comment %} ^tambahan {% endcomment %}
      {% comment %} a {% endcomment %}
      <br>
      <input type="text" id="myInput" placeholder="Search for names.." title="Type in a name">
      
      <div class="Daftar-Item-Table">
        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    {% comment %} <th>No Transaksi</th>
                    <th>Petugas FASKES</th>
                    <th>Faskes</th>
                    <th>Total Berat</th>
                    <th>Status Permohonan</th>
                    <th>Status Badge</th>
                    <th>Action</th> {% endcomment %}
                    <th>No</th>
                    <th>Nomor Transaksi</th>
                    <th>Petugas Faskes</th>
                    <th>Total Item</th>
                    <th>Total Berat</th>
                    <th>Status</th>
                    <th>Validasi/Detail</th>
                  </tr>
                </thead>
                <tbody class="item-table">
                  {% block table %}
                  {% endblock %}
                    {% for no, pf, cat, tgl, ti, tb, stt in batches %}
                      <tr class="table-light">
                          <td>{{ forloop.counter }}</td>
                          <td>{{ no }}</td>
                          <td>{{ pf }}</td>
                          <td>{{ ti }}</td>
                          <td>{{ tb }}</td>
                          <td>{{ stt }}</td>
                          {% comment %} <td>{{ sb }}</td> {% endcomment %}
                          {% if stt == "PRO" %}
                            <td><a href="{% url 'trigger4:create_batch' %}">Buat Badge</a></td>
                          {% elif  stt == "FIN" %}
                            <td><a href="{% url 'trigger4:detail_batch' %}">Detail</a></td>
                          {% elif  stt == "MAS" %}
                            <td><a href="{% url 'trigger4:detail_batch' %}">Detail</a></td>
                          {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div> 
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#daftar-item-table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).attr("id") == "table-header")
      });
    });
  });
  </script>
{% endblock %}