{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>LOKASI</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">FORM CREATE BATCH</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'trigger4:create_batch' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="pb-1">Nama Admin</div>
        <div class="form-group">
          <input type="username" name="nama_admin" value="{{request.POST.nama_admin}}" class="form-width form-control" aria-describedby="emailHelp" placeholder="Nama Admin" required>
        </div>
        <div class="pb-1">Nomor Transaksi</div>
        <div class="form-group">
          <input type="username" name="no_trans" value="{{request.POST.no_trans}}" class="form-width form-control" aria-describedby="emailHelp" placeholder="No Transaksi" required>
        </div>
        <div class="pb-1">Petugas</div>
        <div class="form-group">
          <input type="text" name="petugas" value="{{request.POST.petugas}}" class="form-width form-control" placeholder="Petugas (Not Required)">
        </div>
         {% comment %} <div class="pb-1">Kendaraan</div>
        <div class="form-group">
          <input type="username" name="kendaraan" value="{{request.POST.kendaraan}}" class="form-width form-control" placeholder="Mobil" required>
        </div> 
        <div class="pb-1">Petugas</div>
        <div class="form-group">
          <input type="text" name="petugas" value="{{request.POST.petugas}}" class="form-width form-control" placeholder="Petugas" required>
        </div>
        <div class="pb-1">Asal</div>
        <div class="form-group">
          <input type="text" name="asal" value="{{request.POST.asal}}" class="form-width form-control" placeholder="Asal" required>
        </div>
        <div class="pb-1">Tujuan</div>
        <div class="form-group">
          <input type="text" name="tujuan" value="{{request.POST.tujuan}}" class="form-width form-control" placeholder="Tujuan" required>
        </div> {% endcomment %}
        <div class="pb-1">Tanda Terima</div>
        <div class="form-group">
          <input type="username" name="tterima" value="{{request.POST.tterima}}" class="form-width form-control" placeholder="Tanda Terima" required>
        </div>
    

        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href='{% url "home:index" %}'>
              <div class="btn btn-danger">Cancel</div>
            </a>
        </div>
    </form>

    
</div>

{% endblock %}