{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>LOKASI</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">FORM TAMBAH LOKASI</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'trigger4:form_lokasi' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="pb-1">Provinsi</div>

        {% comment %} <select class="form-control m-bootstrap-select m_selectpicker" tabindex="-98" name="regional_code" required=""> {% endcomment %}
        <select id="provinsi" name="provinsi">
          <option value="">Pilih Provinsi</option>
          <option value="ACEH">ACEH</option>
          <option value="SUMATERA UTARA">SUMATERA UTARA</option>
          <option value="SUMATERA BARAT">SUMATERA BARAT</option>
          <option value="RIAU">RIAU</option>
          <option value="JAMBI">JAMBI</option>
          <option value="SUMATERA SELATAN">SUMATERA SELATAN</option>
          <option value="BENGKULU">BENGKULU</option>
          <option value="LAMPUNG">LAMPUNG</option>
          <option value="BANGKA BELITUNG">BANGKA BELITUNG</option>
          <option value="KEPULAUAN RIAU">KEPULAUAN RIAU</option>
          <option value="DKI JAKARTA">DKI JAKARTA</option>
          <option value="JAWA BARAT">JAWA BARAT</option>
          <option value="JAWA TENGAH">JAWA TENGAH</option>
          <option value="DI YOGYAKARTA">DI YOGYAKARTA</option>
          <option value="JAWA TIMUR">JAWA TIMUR</option>
          <option value="BANTEN">BANTEN</option>
          <option value="BALI">BALI</option>
          <option value="NTB">NTB</option>
          <option value="NTT">NTT</option>
          <option value="KALIMANTAN BARAT">KALIMANTAN BARAT</option>
          <option value="KALIMANTAN TENGAH">KALIMANTAN TENGAH</option>
          <option value="KALIMANTAN SELATAN">KALIMANTAN SELATAN</option>
          <option value="KALIMANTAN TIMUR">KALIMANTAN TIMUR</option>
          <option value="SULAWESI UTARA">SULAWESI UTARA</option>
          <option value="SULAWESI SELATAN">SULAWESI SELATAN</option>
          <option value="SULAWESI TENGGARA">SULAWESI TENGGARA</option>
          <option value="GORONTALO">GORONTALO</option>
          <option value="SULAWESI BARAT">SULAWESI BARAT</option>
          <option value="MALUKU">MALUKU</option>
          <option value="MALUKU UTARA">MALUKU UTARA</option>
          <option value="PAPUA">PAPUA</option>
          <option value="PAPUA BARAT">PAPUA BARAT</option>
          <option value="SULAWESI TENGAH">SULAWESI TENGAH</option>
          <option value="KALIMANTAN UTARA">KALIMANTAN UTARA</option>
      </select>
        {% comment %} <div class="form-group">
          <input type="username" name="provinsi" value="{{request.POST.provinsi}}" class="form-width form-control" aria-describedby="emailHelp" placeholder="Provinsi" required>
        </div> {% endcomment %}
        <div class="pb-1">Kabupaten/Kota</div>
        <div class="form-group">
          <input type="username" name="kabkot" value="{{request.POST.kabkot}}" class="form-width form-control" placeholder="Kabupaten/Kota" required>
        </div>
        <div class="pb-1">Kecamatan</div>
        <div class="form-group">
          <input type="text" name="kecamatan" value="{{request.POST.kecamatan}}" class="form-width form-control" placeholder="Kecamatan" required>
        </div>
        <div class="pb-1">Kelurahan</div>
        <div class="form-group">
          <input type="text" name="kelurahan" value="{{request.POST.kelurahan}}" class="form-width form-control" placeholder="Kelurahan" required>
        </div>
        <div class="pb-1">Jalan</div>
        <div class="form-group">
          <input type="text" name="jalan" value="{{request.POST.jalan}}" class="form-width form-control" placeholder="Jalan" required>
        </div>
    

        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href='{% url "home:index" %}'>
              <div class="btn btn-danger">Cancel</div>
            </a>
        </div>
    </form>

    
</div>

{% endblock %}