{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>PENGIRIMAN</title>
{% endblock meta %}
{% block content %}
<div class="jumbotron bg-white text-dark rounded-0 m-0">
    <div class="container">
        <ul class="navbar-nav" style="margin: auto;">
            <li class="nav-item">
                <div class="card w-75 border-dark m-3">
                    <h3 class="card-header bg-main1 text-center text-left-lg bg-dark">
                        {% if request.session.pengguna and role == "admin_satgas"%}
                            <a class="book-link text-light" href="{% url 'trigger4:kendaraan' %}">
                                Kendaraan
                            </a>
                        {% elif request.session.pengguna and role == "petugas_distribusi"%}
                            <a class="book-link text-light" href="{% url 'trigger4:kendaraan' %}">
                                Kendaraan
                            </a>
                        {% else %}
                            <a class="book-link text-light" href="{% url 'trigger4:index' %}">
                                Kendaraan
                            </a>
                        {% endif %}
                    </h3>
                    <div class="card-body bg-main2" style="background-color: rgba(0, 0, 0, 0);">
                        <div class="row">
                            <div class="col-lg-9 col-12 book-info">
                                <h5 class="card-title">Pengaturan Kendaraan</h5>
                                <p class="card-text text-justify">CRUD untuk pengguna admin_satgas serta r untuk pengguna petugas_distribusi</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="card w-75 border-dark m-3">
                    <h3 class="card-header bg-main1 text-center text-left-lg bg-dark">
                        {% if request.session.pengguna and role == "admin_satgas"%}
                            <a class="book-link text-light" href="{% url 'trigger4:batch_pengiriman' %}">
                                Buat Batch Pengiriman
                            </a>
                        {% else %}
                            <a class="book-link text-light" href="{% url 'trigger4:index' %}">
                                    Buat Batch Pengiriman
                            </a>
                        {% endif %}
                    </h3>
                    <div class="card-body bg-main2" style="background-color: rgba(0, 0, 0, 0);">
                        <div class="row">
                            <div class="col-lg-9 col-12 book-info">
                                <h5 class="card-title">Membuat Batch Pengiriman</h5>
                                <p class="card-text text-justify">Oleh admin satgas saja</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="card w-75 border-dark m-3">
                    <h3 class="card-header bg-main1 text-center text-left-lg bg-dark">
                        {% if request.session.pengguna and role == "admin_satgas"%}
                            <a class="book-link text-light" href="{% url 'trigger4:lokasi' %}">
                                Daftar Lokasi
                            </a>
                        {% else %}
                            <a class="book-link text-light" href="{% url 'trigger4:index' %}">
                                Daftar Lokasi
                            </a>
                        {% endif %}
                    </h3>
                    <div class="card-body bg-main2" style="background-color: rgba(0, 0, 0, 0);">
                        <div class="row">
                            <div class="col-lg-9 col-12 book-info">
                                <h5 class="card-title">Pengaturan Lokasi</h5>
                                <p class="card-text text-justify">Oleh admin satgas saja</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}