{% extends "home/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron rounded-0 bg-4">
    <h1 class="display-4">Kendaraan</h1>
    <p class="lead">Melihat Kendaraan</p>
    <hr class="my-4">
    {% if request.session.pengguna %}
      <p class="lead">Selamat datang {{request.session.pengguna}}</p>
      <br>
    {% else %}
      <p class="lead">Selamat datang bung (kami tidak kenal kau)</p>
      <br>
    {% endif %}
    <br>
    
    {% if request.session.pengguna and request.session.role == "admin_satgas"%}
        <a href="{% url 'trigger4:create_kendaraan' %}"><u>Tambahkan Kendaraan</u></a>
        <br>
        <a href="{% url 'trigger4:update_kendaraan' %}"><u>Update Kendaraan</u></a>
        <br>
        <a href="{% url 'trigger4:delete_kendaraan' %}"><u>Delete Kendaraan</u></a>
    {% elif request.session.pengguna and request.session.role == "petugas_distribusi"%}
    {% else %}
    {% endif %}
    
    <section>
      <h3 class="display-4" style="font-size: 30px;">Daftar Lokasi</h3>
      <br>
      <input type="text" id="myInput" placeholder="Search for names.." title="Type in a name">
      
      <div class="Daftar-Item-Table">
        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    <th>No</th>
                    <th>No Kendaraan</th>
                    <th>Nama</th>
                    <th>Jenis Kendaraan</th>
                    <th>Berat Maksimum</th>
                    {% if request.session.pengguna and request.session.role == "admin_satgas"%}
                        <th>Update/Delete</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody class="item-table">
                  {% block table %}
                  {% endblock %}
                    {% for no_kend, nama, jenis, berat in vehicles %}
                    <tr class="table-light">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ no_kend }}</td>
                        <td>{{ nama }}</td>
                        <td>{{ jenis }}</td>
                        <td>{{ berat }}</td>
                        {% if request.session.pengguna and request.session.role == "admin_satgas"%}
                        <td>
                            <a href="{% url 'trigger4:update_kendaraan' %}"><u>Update Kendaraan</u></a>
                            <a href="{% url 'trigger4:delete_kendaraan' %}"><u>Delete Kendaraan</u></a>
                        </td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div> 
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#daftar-item-table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).attr("id") == "table-header")
      });
    });
  });
  </script>
{% endblock %}