{% extends "home/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron rounded-0 bg-4">
    <h1 class="display-4">Lokasi</h1>
    <p class="lead">Melihat lokasi</p>
    <hr class="my-4">
    {% if request.session.pengguna %}
      <p class="lead">Selamat datang {{request.session.pengguna}}</p>
      <a href="{% url 'trigger4:form_lokasi' %}"><u>Create Lokasi</u></a>
      <br>
    {% else %}
      <p class="lead">Selamat datang bung (kami tidak kenal kau)</p>
      <a href="{% url 'trigger4:form_lokasi' %}"><u>Create Lokasi</u></a>
      <br>
    {% endif %}
    <br>
    
    <section>
      <h3 class="display-4" style="font-size: 30px;">Daftar Lokasi</h3>
      <br>
      <input type="text" id="myInput" placeholder="Search for names.." title="Type in a name">
      
      <div class="Daftar-Item-Table">
        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    <th>No</th>
                    <th>ID</th>
                    <th>Provinsi</th>
                    <th>Kabupaten/Kota</th>
                    <th>Kecamatan</th>
                    <th>Kelurahan</th>
                    <th>Jalan</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody class="item-table">
                  {% block table %}
                  {% endblock %}
                    {% for id, provinsi, kabkot, kecamatan, kelurahan, jalan in location %}
                    <tr class="table-light">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ id }}</td>
                        <td>{{ provinsi }}</td>
                        <td>{{ kabkot }}</td>
                        <td>{{ kecamatan }}</td>
                        <td>{{ kelurahan }}</td>
                        <td>{{ jalan }}</td>
                        <td><a href="{% url 'trigger4:update_lokasi' %}">Update</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div> 
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#daftar-item-table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).attr("id") == "table-header")
      });
    });
  });
  </script>
{% endblock %}