{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>KENDARAAN</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">FORM UPDATE KENDARAAN</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'trigger4:update_kendaraan' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="pb-1">Nomor Kendaraan</div>
        <div class="form-group">
          <input type="text" name="nomor_kendaraan" value="{{request.POST.nomor_kendaraan}}" class="form-width form-control" placeholder="Nomor Kendaraan" required>
        </div>
        <div class="pb-1">Nama</div>
        <div class="form-group">
          <input type="text" name="nama" value="{{request.POST.nama}}" class="form-width form-control" placeholder="Nama">
          {% comment %} hapus required {% endcomment %}
        </div>
        <div class="pb-1">Jenis Kendaraan</div>
        <div class="form-group">
          <input type="text" name="jenis" value="{{request.POST.jenis}}" class="form-width form-control" placeholder="Contoh : Sedan, Truk, dll">
          {% comment %} hapus required {% endcomment %}
        </div>
        <div class="pb-1">Berat Maksimum</div>
        <div class="form-group">
          <input type="text" name="berat" value="{{request.POST.berat}}" class="form-width form-control" placeholder="Berat Maksimum">
          {% comment %} hapus required {% endcomment %}
        </div>
    

        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href='{% url "trigger4:kendaraan" %}'>
              <div class="btn btn-danger">Cancel</div>
            </a>
        </div>
    </form>

    
</div>

{% endblock %}