{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>LOGIN</title>
{% endblock meta %}
{% block content %}
<div class="p-5 d-flex flex-column justify-content-center align-items-center">

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'login_feature:login' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <h3>Login</h3>
        <div class="pb-1">Name</div>
        <div class="form-group">
          <input type="username" name="username" class="form-width form-control" aria-describedby="emailHelp" placeholder="Enter username" required>
        </div>
        <div class="pb-1">Password</div>
        <div class="form-group">
          <input type="password" name="password" class="form-width form-control" placeholder="Password" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
</div>

{% endblock %}