{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>DAFTAR PETFAS</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">Registrasi Pengunjung (Petugas Faskes)</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'login_feature:petugas_faskes' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="pb-1">Username</div>
        <div class="form-group">
          <input type="username" name="username" value="{{request.POST.username}}" class="form-width form-control" aria-describedby="emailHelp" placeholder="Username" required>
        </div>
        <div class="pb-1">Password</div>
        <div class="form-group">
          <input type="password" name="password" class="form-width form-control" placeholder="Password" required>
        </div>
        <div class="pb-1">Nama</div>
        <div class="form-group">
          <input type="text" name="nama" value="{{request.POST.nama}}" class="form-width form-control" placeholder="ex: Hayasaka Kei" required>
        </div>
        <div class="pb-1">Alamat Kelurahan</div>
        <div class="form-group">
          <input type="text" name="alamat_kel" value="{{request.POST.alamat_kel}}" class="form-width form-control" placeholder="Alamat Kelurahan" required>
        </div>
        <div class="pb-1">Alamat Kecamatan</div>
        <div class="form-group">
          <input type="text" name="alamat_kec" value="{{request.POST.alamat_kec}}" class="form-width form-control" placeholder="Alamat Kecamatan" required>
        </div>
        <div class="pb-1">Alamat Kabkot</div>
        <div class="form-group">
          <input type="text" name="alamat_kabkot" value="{{request.POST.alamat_kabkot}}" class="form-width form-control" placeholder="Alamat Kabkot" required>
        </div><div class="pb-1">Alamat Provinsi</div>
        <div class="form-group">
          <input type="text" name="alamat_prov" value="{{request.POST.alamat_prov}}" class="form-width form-control" placeholder="Alamat Provinsi" required>
        </div><div class="pb-1">Nomor Telepon</div>
        <div class="form-group">
          <input type="text" name="no_telepon" value="{{request.POST.no_telepon}}" class="form-width form-control" placeholder="Nomor Telepon" required>
        </div>

        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href='{% url "home:index" %}'>
              <div class="btn btn-danger">Cancel</div>
            </a>
        </div>

      </form>
</div>

{% endblock %}