{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>REGISTER</title>
{% endblock meta %}
{% block content %}
<div class="jumbotron bg-white text-dark rounded-0 m-0">
    <div class="container">
        <ul class="navbar-nav" style="margin: auto;">
            <li class="nav-item">
            <a class="nav-link" href="{% url 'login_feature:admin_satgas' %}">Daftar Admin Satgas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login_feature:supplier' %}">Daftar Supplier</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login_feature:petugas_faskes' %}">Daftar Petugas Faskes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'login_feature:petugas_distribusi' %}">Daftar Petugas Distribusi</a>
        </li>
        </ul>
    </div>
</div>
{% endblock %}
