{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>BATCH (LOKASI)</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">FORM TAMBAH BATCH (LOKASI)</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'trigger5:batch_lokasi' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="pb-1">Batch Code</div>
        <select id="batch_code" name="batch_code" required>
            <option value="">Choose a code</option>
            {% for batch_code in kodex %}
                <option value="{{batch_code}}">{{batch_code}}</option>
            {% endfor %}
        </select>  

        <div class="pb-1">ID Lokasi Asal</div>
        <select id="asal" name="asal" required>
            <option value="">Choose a code</option>
            {% for asal in code %}
                <option value="{{asal}}">{{asal}}</option>
            {% endfor %}
        </select>  

        <div class="pb-1">ID Lokasi Tujuan</div>
        <select id="tujuan" name="tujuan" required>
            <option value="">Choose a code</option>
            {% for tujuan in code %}
                <option value="{{tujuan}}">{{tujuan}}</option>
            {% endfor %}
        </select>  

        <div class="pb-1">No Kendaraan</div>
        <select id="cars" name="cars" required>
            <option value="">Choose a code</option>
            {% for cars in vehicle %}
                <option value="{{cars}}">{{cars}}</option>
            {% endfor %}
        </select>  

        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href='{% url "trigger5:batch" %}'>
              <div class="btn btn-danger">Cancel</div>
            </a>
        </div>
    </form>

    
</div>

{% endblock %}