{% extends "home/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron rounded-0 bg-4">
    <h1 class="display-4">Batch Pengiriman</h1>
    <p class="lead">Melihat Batch</p>
    {% if request.session.pengguna %}
      <p class="lead">Selamat datang {{request.session.pengguna}}</p>
      <br>
    {% else %}
      <p class="lead">Selamat datang bung (kami tidak kenal kau)</p>
      <br>
    {% endif %}
    <br>
</div>
    
<section>
    <h3 class="display-4" style="font-size: 30px;">Batch Pengiriman</h3>
    <td><a href="{% url 'trigger5:batch_lokasi' %}">Buat Badge</a></td>
    <br>
    <td><a href="{% url 'trigger5:detail_batch' %}">Detail Badge</a></td>
    <br>
</section>
  
{% endblock %}