{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>WAREHOUSE SATGAS</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">FORM CREATE WAREHOUSE</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'trigger5:create_warehouse' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}

        {% comment %} <div class="pb-1">Provinsi</div>
        <select id="prov" name="prov" required>
            <option value="">Choose any petugas</option>
            {% for prov in provinsi %}
                <option value="{{prov}}">{{prov}}</option>
            {% endfor %}
        </select>   {% endcomment %}
        
        <div class="pb-1">Provinsi</div>
        <select id="provinsi" name="provinsi">
          <option value="">Pilih Provinsi</option>
          <option value="ACEH">ACEH</option>
          <option value="SUMATERA UTARA">SUMATERA UTARA</option>
          <option value="SUMATERA BARAT">SUMATERA BARAT</option>
          <option value="RIAU">RIAU</option>
          <option value="JAMBI">JAMBI</option>
          <option value="SUMATERA SELATAN">SUMATERA SELATAN</option>
          <option value="BENGKULU">BENGKULU</option>
          <option value="LAMPUNG">LAMPUNG</option>
          <option value="BANGKA BELITUNG">BANGKA BELITUNG</option>
          <option value="KEPULAUAN RIAU">KEPULAUAN RIAU</option>
          <option value="DKI JAKARTA">DKI JAKARTA</option>
          <option value="JAWA BARAT">JAWA BARAT</option>
          <option value="JAWA TENGAH">JAWA TENGAH</option>
          <option value="DI YOGYAKARTA">DI YOGYAKARTA</option>
          <option value="JAWA TIMUR">JAWA TIMUR</option>
          <option value="BANTEN">BANTEN</option>
          <option value="BALI">BALI</option>
          <option value="NTB">NTB</option>
          <option value="NTT">NTT</option>
          <option value="KALIMANTAN BARAT">KALIMANTAN BARAT</option>
          <option value="KALIMANTAN TENGAH">KALIMANTAN TENGAH</option>
          <option value="KALIMANTAN SELATAN">KALIMANTAN SELATAN</option>
          <option value="KALIMANTAN TIMUR">KALIMANTAN TIMUR</option>
          <option value="SULAWESI UTARA">SULAWESI UTARA</option>
          <option value="SULAWESI SELATAN">SULAWESI SELATAN</option>
          <option value="SULAWESI TENGGARA">SULAWESI TENGGARA</option>
          <option value="GORONTALO">GORONTALO</option>
          <option value="SULAWESI BARAT">SULAWESI BARAT</option>
          <option value="MALUKU">MALUKU</option>
          <option value="MALUKU UTARA">MALUKU UTARA</option>
          <option value="PAPUA">PAPUA</option>
          <option value="PAPUA BARAT">PAPUA BARAT</option>
          <option value="SULAWESI TENGAH">SULAWESI TENGAH</option>
          <option value="KALIMANTAN UTARA">KALIMANTAN UTARA</option>
      </select>
      
        <div class="pb-1">Id Lokasi</div>
        <select id="id_lokasi" name="id_lokasi" required>
            <option value="">Choose an id</option>
            {% for id_lokasi in lokasi %}
                <option value="{{id_lokasi}}">{{id_lokasi}}</option>
            {% endfor %}
        </select>  
        
        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href='{% url "trigger5:warehouse" %}'>
              <div class="btn btn-danger">Cancel</div>
            </a>
        </div>
    </form>
    
</div>

{% endblock %}