{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>FASILITAS KESEHATAN</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">FORM CREATE FASKES</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'trigger5:create_faskes' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        
        <div class="pb-1">Kode Faskes</div>
        <div class="form-group">
          <input type="text" name="codex" value="{{request.POST.codex}}" class="form-width form-control" placeholder="Kode Faskes" required>
        </div>
        
        <div class="pb-1">Id Lokasi</div>
        <select id="id_loc" name="id_loc" required>
            <option value="">Choose an id</option>
            {% for id_loc in id_lokasi %}
                <option value="{{id_loc}}">{{id_loc}}</option>
            {% endfor %}
        </select> 
        
        <div class="pb-1">Petugas Faskes</div>
        <select id="petugas" name="petugas" required>
            <option value="">Choose any petugas</option>
            {% for petugas in petugas_faskes %}
                <option value="{{petugas}}">{{petugas}}</option>
            {% endfor %}
        </select>  
        
        <div class="pb-1">Kode Tipe Faskes</div>
        <select id="kode" name="kode" required>
            <option value="">Choose a code</option>
            {% for kode in kode_tipe_faskes %}
                <option value="{{kode}}">{{kode}}</option>
            {% endfor %}
        </select>  
        
        
        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href='{% url "trigger5:faskes" %}'>
              <div class="btn btn-danger">Cancel</div>
            </a>
        </div>
    </form>

    
</div>

{% endblock %}