{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>FASILITAS KESEHATAN</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">FORM DELETE FASKES</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'trigger5:delete_faskes' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}
        <div class="pb-1">Kode</div>
        <div class="form-group">
          <input type="text" name="kode_faskes_nasional" value="{{request.POST.kode_faskes_nasional}}" class="form-width form-control" placeholder="Kode" required>
        </div>
    

        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Hapus</button>
            <a href='{% url "trigger5:faskes" %}'>
              <div class="btn btn-danger">Cancel</div>
            </a>
        </div>
    </form>

    
</div>

{% endblock %}