{% extends "home/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron rounded-0 bg-4">
    <h1 class="display-4">Batch Pengiriman</h1>
    <p class="lead">Melihat Batch FIN</p>
    <hr class="my-4">
    {% if request.session.pengguna %}
      <p class="lead">Selamat datang {{request.session.pengguna}}</p>
      <br>
    {% else %}
      <p class="lead">Selamat datang bung (kami tidak kenal kau)</p>
      <br>
    {% endif %}
    <br>
    
    <section>
      <h3 class="display-4" style="font-size: 30px;">Detail Batch Pengiriman</h3>
      <td><a href="{% url 'trigger5:batch' %}">Kembali</a></td> 
      {% comment %} ^tambahan {% endcomment %}
      <br>
      <input type="text" id="myInput" placeholder="Search for names.." title="Type in a name">
      
      <div class="Daftar-Item-Table">
        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    <th>No</th>
                    <th>Kode</th>
                    <th>Admin</th>
                    <th>Petugas Distribusi</th>
                    <th>Tanda Terima</th>
                    <th>Nomor Transaksi</th>
                    <th>ID Lokasi Asal</th>
                    <th>ID Lokasi Tujuan</th>
                    <th>No Kendaraan</th>
                  </tr>
                </thead>
                <tbody class="item-table">
                  {% block table %}
                  {% endblock %}
                    {% for a, b, c, d, e, f, g, h in batches %}
                      <tr class="table-light">
                          <td>{{ forloop.counter }}</td>
                          <td>{{ a }}</td>
                          <td>{{ b }}</td>
                          <td>{{ c }}</td>
                          <td>{{ d }}</td>
                          <td>{{ e }}</td>
                          <td>{{ f }}</td>
                          <td>{{ g }}</td>
                          <td>{{ h }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div> 
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#daftar-item-table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).attr("id") == "table-header")
      });
    });
  });
  </script>
{% endblock %}