{% extends "home/base.html" %}
{% load static %}
{% block content %}

<div class="jumbotron rounded-0 bg-4">
    <h1 class="display-4">Fasilitas Kesehatan</h1>
    <p class="lead">Melihat fasilitas kesehatan</p>
    <hr class="my-4">
    {% if request.session.pengguna %}
      <p class="lead">Selamat datang {{request.session.pengguna}}</p>
      <br>
    {% else %}
      <p class="lead">Selamat datang bung (kami tidak kenal kau)</p>
      <br>
    {% endif %}
    <br>
    
    {% if request.session.pengguna and request.session.role == "admin_satgas"%}
        <a href="{% url 'trigger5:create_faskes' %}"><u>Tambahkan fasilitas kesehetan</u></a>
        <br>
    {% endif %}
    
    <section>
      <h3 class="display-4" style="font-size: 30px;">Daftar fasilitas kesehatan</h3>
      <br>
      
      <div class="Daftar-Item-Table">
        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    <th>Kode Faskes</th>
                    <th>Lokasi</th>
                    <th>Petugas Faskes</th>
                    <th>Tipe Faskes</th>
                    <!-- update/delete -->
                    {% if request.session.pengguna and request.session.role == "admin_satgas"%}
                        <th>Action</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody class="item-table">
                  {% block table %}
                  {% endblock %}
                    <!-- keluarin faskes -->
                    {% for kode, lokasi , petugas, tipe in faskes %}
                    <tr class="table-light">
                        <td>{{ kode }}</td>
                        <td>{{ lokasi }}</td>
                        <td>{{ petugas }}</td>
                        <td>{{ tipe }}</td>
                        {% if request.session.pengguna and request.session.role == "admin_satgas"%}
                        <td>
                            <a href="{% url 'trigger5:update_faskes' %}"><u>Update</u></a>
                            <a href="{% url 'trigger5:delete_faskes' %}"><u>Delete</u></a>
                        </td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div> 
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#daftar-item-table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).attr("id") == "table-header")
      });
    });
  });
  </script>
{% endblock %}