{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>FASILITAS DAN LOKASI</title>
{% endblock meta %}
{% block content %}
<div class="jumbotron bg-white text-dark rounded-0 m-0">
    <div class="container">
        <ul class="navbar-nav" style="margin: auto;">
            <li class="nav-item">
                <div class="card w-75 border-dark m-3">
                    <h3 class="card-header bg-main1 text-center text-left-lg bg-dark">
                        {% if request.session.pengguna and role == "admin_satgas"%}
                            <a class="book-link text-light" href="{% url 'trigger5:faskes' %}">
                                Faskes
                            </a>
                        {% elif request.session.pengguna and role == "supplier"%}
                            <a class="book-link text-light" href="{% url 'trigger5:faskes' %}">
                                Faskes
                            </a>
                        {% else %}
                            <a class="book-link text-light" href="{% url 'trigger5:index' %}">
                                Faskes
                            </a>
                        {% endif %}
                    </h3>
                    <div class="card-body bg-main2" style="background-color: rgba(0, 0, 0, 0);">
                        <div class="row">
                            <div class="col-lg-9 col-12 book-info">
                                <h5 class="card-title">Pengaturan Faskes</h5>
                                <p class="card-text text-justify">CRUD untuk pengguna admin_satgas serta r untuk pengguna supplier</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="card w-75 border-dark m-3">

                     <h3 class="card-header bg-main1 text-center text-left-lg bg-dark">
                        {% if request.session.pengguna and role == "admin_satgas"%}
                            <a class="book-link text-light" href="{% url 'trigger5:warehouse' %}">
                                Warehouse Satgas
                            </a>
                        {% elif request.session.pengguna and role == "petugas_faskes"%}
                            <a class="book-link text-light" href="{% url 'trigger5:warehouse' %}">
                                Warehouse Satgas
                            </a>
                        {% else %}
                            <a class="book-link text-light" href="{% url 'trigger5:index' %}">
                                Warehouse Satgas
                            </a>
                        {% endif %}
                    </h3>
                    <div class="card-body bg-main2" style="background-color: rgba(0, 0, 0, 0);">
                        <div class="row">
                            <div class="col-lg-9 col-12 book-info">
                                <h5 class="card-title">Pengaturan Warehouse Satgas</h5>
                                <p class="card-text text-justify">CRD untuk pengguna admin_satgas serta r untuk pengguna supplier</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="card w-75 border-dark m-3">
                   <h3 class="card-header bg-main1 text-center text-left-lg bg-dark">
                        {% if request.session.pengguna and role == "admin_satgas"%}
                            <a class="book-link text-light" href="{% url 'trigger5:batch' %}">
                                Batch Pengiriman (Lokasi)
                            </a>
                        {% else %}
                            <a class="book-link text-light" href="{% url 'trigger5:index' %}">
                                Batch Pengiriman (Lokasi)
                            </a>
                        {% endif %}
                    </h3>
                    <div class="card-body bg-main2" style="background-color: rgba(0, 0, 0, 0);">
                        <div class="row">
                            <div class="col-lg-9 col-12 book-info">
                                <h5 class="card-title">Pengaturan Pengiriman (Lokasi)</h5>
                                <p class="card-text text-justify">Create untuk pengguna admin_satgas</p>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}