{% extends "home/base.html" %}
{% load static %}
{% block meta %}
<title>WAREHOUSE SATGAS</title>
{% endblock meta %}
{% block content %}

<div class="p-5 d-flex flex-column justify-content-center align-items-center">
    <h3 class="mb-3 text-center">FORM CREATE WAREHOUSE</h3>
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}} fade show" role="alert">
          {{message}}
        </div>
      {% endfor %}
    {% endif %}

    <form method="POST" action="{% url 'trigger5:update_warehouse' %}" class="d-flex flex-column align-items-center">
        {% csrf_token %}

        <div class="pb-1">Lokasi Tujuan</div>
        <select id="id_lokasi_ganti" name="id_lokasi_ganti" required>
            <option value="">Choose lokasi tujuan</option>
            {% for id_lokasi_ganti in lokasi2 %}
                <option value="{{id_lokasi_ganti}}">{{id_lokasi_ganti}}</option>
            {% endfor %}
        </select>  
        
        
        <div class="pb-1">Lokasi awal</div>
        <select id="id_lokasi_awal" name="id_lokasi_awal" required>
            <option value="">Choose lokasi pengganti</option>
            {% for id_lokasi_awal in lokasi %}
                <option value="{{id_lokasi_awal}}">{{id_lokasi_awal}}</option>
            {% endfor %}
        </select>  
        
        <div class="d-flex w-100 justify-content-around mb-5">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href='{% url "trigger5:warehouse" %}'>
              <div class="btn btn-danger">Cancel</div>
            </a>
        </div>
    </form>
    
</div>

{% endblock %}