{% extends "home/base.html" %}
{% load static %}
{% block content %}
<div class="jumbotron rounded-0 bg-4">
    <h1 class="display-4">Warehouse Satgas</h1>
    <p class="lead">Melihat Warehouse Satgas</p>
    <hr class="my-4">
    {% if request.session.pengguna %}
      <p class="lead">Selamat datang {{request.session.pengguna}}</p>
      <br>
    {% else %}
      <p class="lead">Selamat datang bung (kami tidak kenal kau)</p>
      <br>
    {% endif %}
    <br>
    
    {% if request.session.pengguna and request.session.role == "admin_satgas"%}
        <a href="{% url 'trigger5:create_warehouse' %}"><u>Tambahkan fasilitas kesehetan</u></a>
        <br>
    {% endif %}
    
    <section>
      <h3 class="display-4" style="font-size: 30px;">Daftar fasilitas kesehatan</h3>
      <br>
      
      <div class="Daftar-Item-Table">
        <table class="table table-hover table-bordered" id="daftar-item-table">
                <thead>
                  <tr class="table-light" id="table-header">
                    <th>No.</th>
                    <th>Provinsi</th>
                    <th>Lokasi</th>
                    <!-- update/delete -->
                    {% if request.session.pengguna and request.session.role == "admin_satgas"%}
                        <th>Action</th>
                    {% endif %}
                  </tr>
                </thead>
                <tbody class="item-table">
                  {% block table %}
                  {% endblock %}
                    <!-- keluarin faskes -->
                    {% for provinsi , lokation in lokasi %}
                    <tr class="table-light">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ provinsi }}</td>
                        <td>{{ lokation }}</td>
                        {% if request.session.pengguna and request.session.role == "admin_satgas"%}
                        <td>
                            <a href="{% url 'trigger5:update_warehouse' %}"><u>Update</u></a>
                            <a href="{% url 'trigger5:delete_warehouse' %}"><u>Delete</u></a>
                        </td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
            </table>
          </div> 
  </div>
</section>
  
{% endblock %}

{% block script %}
<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#daftar-item-table tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1 || $(this).attr("id") == "table-header")
      });
    });
  });
  </script>
  <script>
      var subjectObject = {
    "PHP": ["Variables", "Strings", "Arrays"],
    "SQL": ["SELECT", "UPDATE", "DELETE"]
}
window.onload = function() {
  var subjectSel = document.getElementById("subject");
  var topicSel = document.getElementById("topic");
  var chapterSel = document.getElementById("chapter");
  for (var x in subjectObject) {
    subjectSel.options[subjectSel.options.length] = new Option(x, x);
  }
  subjectSel.onchange = function() {
    //empty Chapters- and Topics- dropdowns
    chapterSel.length = 1;
    topicSel.length = 1;
    //display correct values
    for (var y in subjectObject[this.value]) {
      topicSel.options[topicSel.options.length] = new Option(y, y);
    }
  }
  topicSel.onchange = function() {
    //empty Chapters dropdown
    chapterSel.length = 1;
    //display correct values
    var z = subjectObject[subjectSel.value][this.value];
    for (var i = 0; i < z.length; i++) {
      chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
    }
  }
}
  </script>
{% endblock %}