.navbar-footer-bg {
    background-color: black;
    transition: 0.5s;
}

footer {
    height: 56px;
    font-size: 24px;
}

#webappname {
    padding-left: 2%;
    padding-right: 2%;
    background-color: rgba(66, 66, 12, 0.231);
}

body {
    background-image: url(https://secretcompass.com/wp-content/uploads/2019/04/a-walk-on-lebanon-cover.jpg);
    background-size: cover;
    background-position: center;
}
