body {
	font-family: 'DM Sans';
	background-color: white;
}

body, html {
	height: 100%;
}

.button-login {
	background: rgba(255, 255, 255, 0.85);
	border-radius: 20px;
	padding-left: 15px !important;
	padding-right: 15px !important;
	color: #6b62ff !important;
	transition: background .5s;
}

.button-login:hover {
	background: white;
	transition: background .5s;
}

.button-signup {
	border-radius: 20px;
	padding-left: 15px !important;
	padding-right: 15px !important;
	color: white !important;
	box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.85) inset;
	transition: box-shadow .2s;
}

.button-signup:hover {
	box-shadow: 0 0 0 2px white inset;
	transition: box-shadow .5s;
}

.hero, .navbar-brand {
	font-family: 'Poppins';
	font-weight: 600;
}

.hero-left {
	padding-left: 10%;
	padding-top: 10%;
}

.bg-dark {
	background-color: #6b62ff !important;
}